
*{
    margin: 1%;
    text-decoration: none;
    background-color: rgb(231, 230, 230);
    font-family: 'Merriweather', serif;
    padding: auto;
}

a:link {
    color: rgb(255, 8, 8);
}

a:visited {
    color:rgb(255, 0, 0);
}

a:hover {
    background-color: rgb(115, 116, 119);
}

.outer{
    border: 5px solid black;
}

.box{
    width: 20%;
    padding: 10%;
    
}
h1{
    text-align: center;
}
